In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
import os
os.name

'nt'

In [6]:
if os.name == "posix":
    sns.set(font="AppleGothic")
elif os.name == "nt":
    sns.set(font="Malgun Gothic")

In [7]:
pd.read_csv("국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20221201103047.csv",encoding ="cp949")

,국가(대륙)별,상품군별,판매유형별,2014.1/4,2014.2/4,2014.3/4,2014.4/4,2015.1/4,2015.2/4,2015.3/4,...,2017.3/4,2017.4/4,2018.1/4,2018.2/4,2018.3/4,2018.4/4,2019.1/4,2019.2/4,2019.3/4,2019.4/4
0,합계,합계,계,148272,153641,163999,213216,269101,271784,268421,...,755101,858240,833672,897205,921586,974060,1251122,1345723,1526135,1881628
1,합계,합계,면세점,-,-,-,-,-,-,-,...,610630,677884,665613,725319,761836,770656,1070693,1157158,1336372,1655635
2,합계,합계,면세점 이외,-,-,-,-,-,-,-,...,144471,180356,168059,171886,159750,203404,180429,188565,189763,225993
3,합계,컴퓨터 및 주변기기,계,4915,4052,3912,3529,2903,2697,3804,...,2032,2158,5236,3854,4320,4511,3702,4038,3670,3827
4,합계,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,5,1,2,6,1,215,2,0,1,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,기타,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
446,기타,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,581,634,665,469,504,589,465,488,308,531
447,기타,기 타,계,765,735,849,804,788,805,724,...,816,1101,1067,1063,1120,770,711,689,469,1094
448,기타,기 타,면세점,-,-,-,-,-,-,-,...,82,266,272,316,404,0,0,1,0,1
449,기타,기 타,면세점 이외,-,-,-,-,-,-,-,...,734,835,795,747,716,770,711,688,469,1093

In [8]:
pd_raw= pd.read_csv("국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20221201103047.csv",encoding ="cp949")

In [9]:
pd_raw.shape

(450, 27)

In [10]:
pd_raw.columns

Index(['국가(대륙)별', '상품군별', '판매유형별', '2014.1/4', '2014.2/4', '2014.3/4',
       '2014.4/4', '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4', '2016.1/4',
       '2016.2/4', '2016.3/4', '2016.4/4', '2017.1/4', '2017.2/4', '2017.3/4',
       '2017.4/4', '2018.1/4', '2018.2/4', '2018.3/4', '2018.4/4', '2019.1/4',
       '2019.2/4', '2019.3/4', '2019.4/4'],
      dtype='object')

In [11]:
pd_raw["국가(대륙)별"].value_counts()

국가(대륙)별
합계            45
미국            45
중국            45
일본            45
아세안(ASEAN)    45
유럽연합(EU)      45
중동            45
중남미           45
대양주           45
기타            45
Name: count, dtype: int64

In [12]:
pd_raw[pd_raw["국가(대륙)별"]=="미국"]

,국가(대륙)별,상품군별,판매유형별,2014.1/4,2014.2/4,2014.3/4,2014.4/4,2015.1/4,2015.2/4,2015.3/4,...,2017.3/4,2017.4/4,2018.1/4,2018.2/4,2018.3/4,2018.4/4,2019.1/4,2019.2/4,2019.3/4,2019.4/4
45,미국,합계,계,25773,22573,21288,26729,39945,26654,28647,...,42331,53209,42679,40207,37631,48978,40985,44973,55512,54054
46,미국,합계,면세점,-,-,-,-,-,-,-,...,9469,12177,5184,3603,2317,2079,2657,2951,1818,1481
47,미국,합계,면세점 이외,-,-,-,-,-,-,-,...,32862,41032,37495,36604,35314,46899,38328,42022,53694,52573
48,미국,컴퓨터 및 주변기기,계,2216,1666,1776,1675,1469,1393,2166,...,802,854,2033,1553,1784,1774,1298,1408,1653,1383
49,미국,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,1,0,0,0,0
50,미국,컴퓨터 및 주변기기,면세점 이외,-,-,-,-,-,-,-,...,802,854,2033,1553,1784,1773,1298,1408,1653,1383
51,미국,가전·전자·통신기기,계,2875,2758,2894,3527,4397,3589,2982,...,2631,2394,1737,1716,1723,1886,1845,1837,3166,1787
52,미국,가전·전자·통신기기,면세점,-,-,-,-,-,-,-,...,29,32,65,38,72,52,66,116,107,49
53,미국,가전·전자·통신기기,면세점 이외,-,-,-,-,-,-,-,...,2602,2362,1672,1678,1651,1834,1779,1721,3059,1738
54,미국,소프트웨어,계,47,57,49,128,182,113,163,...,123,125,175,251,172,269,88,156,118,338
55,미국,소프트웨어,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
56,미국,소프트웨어,면세점 이외,-,-,-,-,-,-,-,...,123,125,175,251,172,269,88,156,118,338
57,미국,서 적,계,962,720,934,1006,1074,837,993,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
58,미국,서 적,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
59,미국,서 적,면세점 이외,-,-,-,-,-,-,-,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
60,미국,사무·문구,계,25,10,14,18,568,17,32,...,41,79,58,55,85,83,198,72,83,101
61,미국,사무·문구,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
62,미국,사무·문구,면세점 이외,-,-,-,-,-,-,-,...,41,79,58,55,85,83,198,72,83,101
63,미국,음반·비디오·악기,계,787,720,722,821,849,781,827,...,2361,2647,2362,3014,3932,4550,3857,5191,5762,4786
64,미국,음반·비디오·악기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
65,미국,음반·비디오·악기,면세점 이외,-,-,-,-,-,-,-,...,2361,2647,2362,3014,3932,4550,3857,5191,5762,4786
66,미국,의류 및 패션 관련상품,계,9810,7801,6404,9208,8602,6927,8055,...,11205,14483,11815,12169,10233,13658,12324,13683,13368,16161
67,미국,의류 및 패션 관련상품,면세점,-,-,-,-,-,-,-,...,148,129,116,154,134,118,110,115,95,91
68,미국,의류 및 패션 관련상품,면세점 이외,-,-,-,-,-,-,-,...,11057,14354,11699,12015,10099,13540,12214,13568,13273,16070
69,미국,스포츠·레저용품,계,573,539,475,491,541,527,481,...,877,1121,1181,1439,1200,1072,1152,1602,3150,864
70,미국,스포츠·레저용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,1,3,4,0,0,0
71,미국,스포츠·레저용품,면세점 이외,-,-,-,-,-,-,-,...,877,1121,1181,1439,1199,1069,1148,1602,3150,864
72,미국,화장품,계,3740,3713,3399,4595,11223,6176,7061,...,16016,22310,13909,11219,9717,15738,10817,11310,13999,13494
73,미국,화장품,면세점,-,-,-,-,-,-,-,...,9202,11913,4927,3311,2028,1780,2366,2647,1550,1271
74,미국,화장품,면세점 이외,-,-,-,-,-,-,-,...,6814,10397,8982,7908,7689,13958,8451,8663,12449,12223
75,미국,아동·유아용품,계,583,546,499,610,1099,603,619,...,619,722,766,793,730,1056,815,1153,1702,1928
76,미국,아동·유아용품,면세점,-,-,-,-,-,-,-,...,1,0,1,0,2,0,0,0,0,0
77,미국,아동·유아용품,면세점 이외,-,-,-,-,-,-,-,...,618,722,765,793,728,1056,815,1153,1702,1928
78,미국,음·식료품,계,381,415,405,673,577,628,631,...,415,265,277,311,239,278,336,313,602,424
79,미국,음·식료품,면세점,-,-,-,-,-,-,-,...,89,103,75,100,80,125,111,73,64,70
80,미국,음·식료품,면세점 이외,-,-,-,-,-,-,-,...,326,162,202,211,159,153,225,240,538,354
81,미국,농축수산물,계,94,98,111,160,189,192,193,...,0,2,1,0,0,33,2,2,7,2
82,미국,농축수산물,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
83,미국,농축수산물,면세점 이외,-,-,-,-,-,-,-,...,0,2,1,0,0,33,2,2,7,2
84,미국,생활용품 및 자동차용품,계,1931,1915,1815,1871,6605,2189,2207,...,2396,2276,2483,2357,2150,2159,2174,2410,3409,3713
85,미국,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,2,0
86,미국,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,2396,2276,2483,2357,2150,2159,2174,2410,3407,3713
87,미국,기 타,계,1749,1615,1791,1946,2570,2682,2237,...,2969,4075,3793,3540,3633,4445,3820,4273,5897,7353
88,미국,기 타,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
89,미국,기 타,면세점 이외,-,-,-,-,-,-,-,...,2969,4075,3793,3540,3633,4445,3820,4273,5897,7353

In [13]:
pd_raw.melt?

Signature:
pd_raw.melt(
    id_vars=None,
    value_vars=None,
    var_name=None,
    value_name: 'Hashable' = 'value',
    col_level: 'Level | None' = None,
    ignore_index: 'bool' = True,
) -> 'DataFrame'
Docstring:
Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

This function is useful to massage a DataFrame into a format where one
or more columns are identifier variables (`id_vars`), while all other
columns, considered measured variables (`value_vars`), are "unpivoted" to
the row axis, leaving just two non-identifier columns, 'variable' and
'value'.

Parameters
----------
id_vars : scalar, tuple, list, or ndarray, optional
    Column(s) to use as identifier variables.
value_vars : scalar, tuple, list, or ndarray, optional
    Column(s) to unpivot. If not specified, uses all columns that
    are not set as `id_vars`.
var_name : scalar, default None
    Name to use for the 'variable' column. If None it uses
    ``frame.columns.name`` or 'variable'.
value_name : scalar, default 'value'
    Name to use for the 'value' column, can't be an existing column label.
col_level : scalar, optional
    If columns are a MultiIndex then use this level to melt.
ignore_index : bool, default True
    If True, original index is ignored. If False, the original index is retained.
    Index labels will be repeated as necessary.

Returns
-------
DataFrame
    Unpivoted DataFrame.

See Also
--------
melt : Identical method.
pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
DataFrame.pivot : Return reshaped DataFrame organized
    by given index / column values.
DataFrame.explode : Explode a DataFrame from list-like
        columns to long format.

Notes
-----
Reference :ref:`the user guide <reshaping.melt>` for more examples.

Examples
--------
>>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
...                    'B': {0: 1, 1: 3, 2: 5},
...                    'C': {0: 2, 1: 4, 2: 6}})
>>> df
   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

>>> df.melt(id_vars=['A'], value_vars=['B'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

>>> df.melt(id_vars=['A'], value_vars=['B', 'C'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

The names of 'variable' and 'value' columns can be customized:

>>> df.melt(id_vars=['A'], value_vars=['B'],
...         var_name='myVarname', value_name='myValname')
   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5

Original index values can be kept around:

>>> df.melt(id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
0  a        C      2
1  b        C      4
2  c        C      6

If you have multi-index columns:

>>> df.columns = [list('ABC'), list('DEF')]
>>> df
   A  B  C
   D  E  F
0  a  1  2
1  b  3  4
2  c  5  6

>>> df.melt(col_level=0, id_vars=['A'], value_vars=['B'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

>>> df.melt(id_vars=[('A', 'D')], value_vars=[('B', 'E')])
  (A, D) variable_0 variable_1  value
0      a          B          E      1
1      b          B          E      3
2      c          B          E      5
File:      c:\users\ksh95\appdata\local\programs\python\python312\lib\site-packages\pandas\core\frame.py
Type:      method

In [14]:
pd_raw.melt(id_vars=["국가(대륙)별", "상품군별", "판매유형별"])

      국가(대륙)별          상품군별   판매유형별  variable   value
0          합계            합계       계  2014.1/4  148272
1          합계            합계     면세점  2014.1/4       -
2          합계            합계  면세점 이외  2014.1/4       -
3          합계    컴퓨터 및 주변기기       계  2014.1/4    4915
4          합계    컴퓨터 및 주변기기     면세점  2014.1/4       -
...       ...           ...     ...       ...     ...
10795      기타  생활용품 및 자동차용품     면세점  2019.4/4       0
10796      기타  생활용품 및 자동차용품  면세점 이외  2019.4/4     531
10797      기타           기 타       계  2019.4/4    1094
10798      기타           기 타     면세점  2019.4/4       1
10799      기타           기 타  면세점 이외  2019.4/4    1093

[10800 rows x 5 columns]

In [15]:
df = pd_raw.melt(id_vars=["국가(대륙)별", "상품군별", "판매유형별"], var_name="기간", value_name="백만원")

In [16]:
df.shape

(10800, 5)

In [17]:
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원
0      합계          합계       계  2014.1/4  148272
1      합계          합계     면세점  2014.1/4       -
2      합계          합계  면세점 이외  2014.1/4       -
3      합계  컴퓨터 및 주변기기       계  2014.1/4    4915
4      합계  컴퓨터 및 주변기기     면세점  2014.1/4       -

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  10800 non-null  object
 1   상품군별     10800 non-null  object
 2   판매유형별    10800 non-null  object
 3   기간       10800 non-null  object
 4   백만원      10800 non-null  object
dtypes: object(5)
memory usage: 422.0+ KB

In [19]:
df.describe()

       국가(대륙)별   상품군별  판매유형별        기간    백만원
count    10800  10800  10800     10800  10800
unique      10     15      3        24   3056
top         합계     합계      계  2014.1/4      -
freq      1080    720   3600       450   3600

In [20]:
df["기간"]

0        2014.1/4
1        2014.1/4
2        2014.1/4
3        2014.1/4
4        2014.1/4
           ...
10795    2019.4/4
10796    2019.4/4
10797    2019.4/4
10798    2019.4/4
10799    2019.4/4
Name: 기간, Length: 10800, dtype: object

In [45]:
"2019 4/4 p)".split()

['2019', '4/4', 'p)']

In [46]:
"2019 4/4 p)".split()[0]

'2019'

In [47]:
type("2019 4/4 p)".split()[0])

str

In [48]:
int("2019 4/4 p)".split()[0])

2019

In [49]:
df["기간"].map?

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [52]:
df["기간"].map(lambda x: int(x.split('.')[0]))

0        2014
1        2014
2        2014
3        2014
4        2014
         ...
10795    2019
10796    2019
10797    2019
10798    2019
10799    2019
Name: 기간, Length: 10800, dtype: int64

In [54]:
df["연도"] = df["기간"].map(lambda x : int(x.split('.')[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도
0      합계          합계       계  2014.1/4  148272  2014
1      합계          합계     면세점  2014.1/4       -  2014
2      합계          합계  면세점 이외  2014.1/4       -  2014
3      합계  컴퓨터 및 주변기기       계  2014.1/4    4915  2014
4      합계  컴퓨터 및 주변기기     면세점  2014.1/4       -  2014

In [61]:
df["백만원"]

0        148272
1             -
2             -
3          4915
4             -
          ...
10795         0
10796       531
10797      1094
10798         1
10799      1093
Name: 백만원, Length: 10800, dtype: object

In [62]:
df["백만원"].replace("-", pd.np.nan)

AttributeError: module 'pandas' has no attribute 'np'